<table>
  <thead>
    <tr>
      <th>Time</th>
      <% @track_headers.each do |track| %>
        <th><%= track.track %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% time_rows(@times).each do |row| %>
      <tr>
        <td><%= row[:time].strftime('%H:%M') %></td>
        <% row[:events].each do |e| %>
          <td><%= event_display(e) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>